<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/admin/addProducts" method="post">
            <div class="form-control">
              <label for="title">Title</label>
              <input type="text" name="title" />
              <label for="price">Price</label>
              <input type="number" name="price" />
              <label for="description">Description</label>
              <textarea
                name="description"
                placeholder="enter description"
              ></textarea>
              <label for="imageUrl">ImageUrl</label>
              <input type="text" name="imageUrl" />
              <input type="hidden" name="_csrf" value="<%=csrfToken %> ">
              <button type="submit">
                Add Product
              </button>
            </div>
          </form>
    </main>
<%- include('includes/end.ejs') %>